* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.header {
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.parking-lot {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
}

.level {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level-name {
    font-size: 1.5rem;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: center;
}

.row-name {
    font-size: 0.7rem;
    font-weight: 300;
}

.place, .queue-place {
    border: 1px solid #000;
    font-size: small;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-overflow: ellipsis;
    width: 50px;
}

.queue-content {
    display: flex;
    flex-wrap: wrap;
}

.auto {
    background-color: yellow;
}

.bus {
    background-color: blue;
    color: azure;
}

.moto {
    background-color: red;
}


